.xmake/
build/
.cache/
compile_commands.json

.vscode/cache/
.vscode/compile_commands.json
.vscode/.history/
.cursor/
.idea/
.vs/
*.iml
*.user
*.userosscache
*.suo
*.sln.docstates
cmake-build-*/
CMakeUserPresets.json

*.swp
*.swo
*~
.*.swp
Session.vim
.netrwhist
\#*\#
.\#*

*.sublime-workspace
*.code-workspace
*.pro.user
*.qbs.user
*.autosave
.kdev4/
*.kdev4
.metadata/
.recommenders/
.settings/
.cproject
.project
.classpath
.apt_generated/
.factorypath

*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.pdb
*.ilk
*.exp
*.idb
*.ipdb
*.iobj
*.gcda
*.gcno
*.gcov

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
